* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans";
}

body {
  background-color: rgb(248, 246, 246);
}

.loader {
  background-color: rgb(248, 246, 246);
}

.inputs {
  display: flex;
  flex-direction: column;
}

.ck-editor__editable_inline {
  height: 200px;
}

.inputs label {
  margin-top: 10px;
  margin-bottom: -4px;
}
.description{
  margin-top: 10px;
  margin-bottom: -4px;
}
.radio {
  margin-right: 12px;
  margin-left: -4px;
}

.input {
  padding: 8px 15px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid rgb(190, 189, 189);
}
